<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Baskerville Novus</string>
    <key>styleName</key>
    <string>Roman</string>
    <key>styleMapFamilyName</key>
    <string>Baskerville Novus Roman</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>copyright</key>
    <string>Copyright (c) 2022, Jeff Johnson</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>ascender</key>
    <integer>780</integer>
    <key>descender</key>
    <integer>-220</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>2022/05/08 01:05:28</string>
    <key>openTypeHheaAscender</key>
    <integer>758</integer>
    <key>openTypeHheaDescender</key>
    <integer>-276</integer>
    <key>openTypeHheaLineGap</key>
    <integer>86</integer>
    <key>openTypeNameVersion</key>
    <string>Version 0.001</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>780</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-220</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>86</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>758</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>276</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>9</integer>
    </array>
    <key>postscriptFontName</key>
    <string>BaskervilleNovus-Roman</string>
    <key>postscriptFullName</key>
    <string>Baskerville Novus Roman</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>47</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-119</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-8</integer>
      <integer>0</integer>
      <integer>448</integer>
      <integer>456</integer>
      <integer>671</integer>
      <integer>689</integer>
      <integer>700</integer>
      <integer>710</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-259</integer>
      <integer>-276</integer>
    </array>
    <key>guidelines</key>
    <array>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>456</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>494</real>
        <key>y</key>
        <real>448</real>
        <key>angle</key>
        <real>0</real>
      </dict>
    </array>
  </dict>
</plist>
